{% extends 'oweb/account_base.html' %}

{% block html_title %}Account - Empire | OWeb{% endblock %}

{% load oweb_tags %}

{% block oweb_account %}
<section class="account_overview">
    <header>
        <h1>Account - Empire</h1>
    </header>
    <section>
        <table class="empire">
    {% for s in empire %}
            <tbody>
                <tr>
                    <th class="cat_caption">{{ s.0 }}</th>
                </tr>
        {% for o in s.1 %}
            <tr class="{% cycle 'even' 'uneven' %}">
            {% for i in o %}
                {% if i.0 == 'caption' %}
                <th class="line_caption">{{ i.1 }}</th>
                {% elif i.0 == 'plain' %}
                <td>{{ i.1 }}</td>
                {% elif i.0 == 'coord' %}
                <td class="coords">{{ i.1 }}</td>
                {% elif i.0 == 'temp' %}
                <td class="temperature">{{ i.1 }}</td>
                {% elif i.0 == 'points' %}
                <td>{{ i.1|points|number_beautify }}</td>
                {% elif i.0 == 'planet' %}
                <th><a href="{% url 'oweb:planet_overview' i.1 %}">{{ i.2 }}</a></th>
                {% elif i.0 == 'building' or i.0 == 'defense' or i.0 == 'ship' or i.0 == 'moon_building' or i.0 == 'moon_defense' %}
                <td class="form">{% include 'oweb/includes/item_form.html' with item=i.1 item_type=i.0 %}</td>
                {% else %}
                <td>-</td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
            </tbody>
    {% endfor %}
        </table>
    </section>
</section>
{% endblock %}
