{% extends 'oweb/account_base.html' %}

{% block oweb_account %}
<section class="account_overview">
    <header>
        <h1>Account Overview</h1>
    </header>

    <section>
        <header>Production</header>
        <table>
            <tr>
                <td>Metal:</td>
                <td>{{ production.0 }}</td>
            </tr>
            <tr>
                <td>Crystal:</td>
                <td>{{ production.1 }}</td>
            </tr>
            <tr>
                <td>Deuterium:</td>
                <td>{{ production.2 }}</td>
            </tr>
        </table>
    </section>

    <section>
        <header>Queue</header>
        {% if queue %}
        <ol>
            {% for q in queue %}
                {% with q.1 as detail %}
            <li>{{ detail.name }} {{ detail.level }} ({{ q.0 }})</li>
                {% endwith %}
            {% endfor %}
        </ol>
        {% endif %}
    </section>
</section>
{% endblock %}
