{% extends 'oweb/base.html' %}

{% load sekizai_tags staticfiles %}

{% block oweb_base %}
{% addtoblock "css" %}
<link href="{% static 'oweb/css/basic.css' %}" rel="stylesheet" type="text/css" />
{% endaddtoblock %}
<div id="oweb_layout">
    <header class="page_header">
        <div class="logo">OWeb</div>
        {% if account %}{{ account }}{% endif %}
    </header>
{% block oweb_layout %}{% endblock %}
</div>
<pre>
{{ sql_queries|length }}
{% for qdict in sql_queries %}
{{ qdict.sql }} - {{ qdict.time }}
{% endfor %}
</pre>
{% endblock %}
