{% extends 'oweb/account_base.html' %}

{% block html_title %}{{ planet.name }} - Settings | OWeb{% endblock %}

{% block oweb_account %}
<section class="account_overview">
    <header>
        <h1>{{ planet.name }} - Settings</h1>
    </header>
    <section>
        <form action="{% url 'oweb:planet_settings_update' planet.id %}" method="post">
            {% csrf_token %}
            <table class="meta_information">
                <tr>
                    <td>Name:</td>
                    <td><input value="{{ planet.name }}" name="planet_name" type="text" /></td>
                </tr>
                <tr>
                    <td>Coords:</td>
                    <td><input value="{{ planet.coord }}" name="planet_coord" type="text" /></td>
                </tr>
                <tr>
                    <td>minimal Temperature:</td>
                    <td><input value="{{ planet.max_temp }}" name="planet_max_temp" type="text" /></td>
                </tr>
            </table>
            <button type="submit">update</button>
        </form>
    </section>

    <section>
        <a href="{% url 'oweb:planet_delete' account.id planet.id %}">delete this planet</a>
    </section>
</section>
{% endblock %}
