{% extends 'oweb/account_base.html' %}

{% block html_title %}{{ planet.name }} - Defense | OWeb{% endblock %}

{% block oweb_account %}
<section class="account_overview">
    <header>
        <h1>{{ planet.name }} - Defense</h1>
    </header>
{% if defense %}
    <table class="item_listing defense_listing">
        <tr>
            <th>Name</th>
            <th>Level</th>
        </tr>
    {% for d in defense %}
        <tr>
            <td>{{ d.name }}</td>
            <td class="form">{% include 'oweb/includes/item_form.html' with item=d item_type='defense' %}</td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
</section>
{% endblock %}
