/* ***** GENERAL SETTINGS ***** */
* {
    margin:             0;
    padding:            0;
}

body {
    font-family:        'UbuntuRegular', sans-serif;
    font-size:          16px;
    color:              #aaa;
    background-color:   #060619;
}

a, a:link, a:visited {
    font-family:        'UbuntuMedium', sans-serif;
    color:              #ffcc00;
    text-decoration:    none;
}
a:hover {
    color:              #66cc00;
}
input {
    font-family: 'UbuntuRegular', sans-serif;
    font-size: 1em;
    color: #ffcc00;
    background-color: #000;
    padding: 0.1em 0.5em;
    border: 1px solid #444;
}
button {
    font-family: 'UbuntuRegular', sans-serif;
    font-size: 1em;
    color: #ffcc00;
    background-color: #000;
    border: 1px solid #444;
    padding: 0.1em 0.5em;
}

header {
    font-family:        'FjallaOne', sans-serif;
    font-size:          1.25em;
    display:            block;
}
section {
    display:            block;
}

/* ***** NAVIGATION ***** */
nav {
    display: block;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    list-style: none;
    float: left;
}
nav ul li a {
    margin: 0 1rem 0.25rem 0;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    display: block;
    border: 1px solid #444;
    background-color: #000;
}
nav ul li:hover > ul {
    visibility: visible;
}
nav ul li ul {
    display: inline;
    visibility: hidden;
    position: absolute;
    padding: 0;
    background-color:   #060619;
}
nav ul li ul li {
    float: none;
}
nav ul li ul li a {
    margin: 0.25rem 0.5rem 0.5rem 0.5rem;
    font-size: 0.8rem;
}

/* ***** LAYOUT ***** */
#oweb_layout {
    margin: 0 1rem;
}
#oweb_layout > section {
    margin: 5rem 1rem 0 1rem;
    clear: both;
}

header.page_header {
    font-family: 'UbuntuRegular', sans-serif;
    font-size: 0.9em;
    margin: 0.25rem 0 0.5rem 0;
    text-align: right;
}
header.page_header div.logo {
    font-family: 'FjallaOne', sans-serif;
    font-size: 3rem;
    margin: 0.5rem 2rem 0rem 0rem;
    float: left;
}

section > section {
    margin: 1rem 2rem 1rem 1rem;
    float: left;
}
section > section > header {
    margin: 0 0 0.5rem 0;
}

table {
    border-collapse: collapse;
}
table td {
    padding: 0 0.5em 0.1em 0.5em;
}


/* ***** ITEMS ***** */
table.queue td.counter {
    text-align: right;
}
table.queue td.detail span {
    font-size: 0.6em;
    color: #990000;
}

table.item_listing td.form form {
    display: inline-block;
}
table.item_listing td.form form button {
    font-weight: bold;
}

table.research_listing td.form form input {
    width: 2em;
    text-align: right;
}

table.ship_listing td.form form input,
table.defense_listing td.form form input {
    width: 6em;
    text-align: right;
}

table.building_listing td.form form input {
    width: 2em;
    text-align: center;
}
